#Overlay {
    flex-grow: 1;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
}

#FPS {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 14px;
}

Button {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}

Button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

Button.placing {
    background-color: rgba(0, 100, 0, 0.7);
}
